{{> navbar}}
<div class="container">
<form id="edit-btn">
  <div class='field'>
    <div class='field'>
      <label class='label title-label' id="{{blogsData.id}}">Title</label>
      <div class='control'>
        <input
          class='input'
          id = "title"
          type='text'
          value='{{blogsData.blog_title}}'
          placeholder='e.g. Can I borrow a cup of JavaScript?'
          required
        />
      </div>
    </div>
        <div class='field'>
      <label class='label description-label'>Description</label>
      <div class='control'>
        <input
          class='input'
          id = "description"
          type='text'
          value='{{blogsData.blog_description}}'
          placeholder='e.g. How much JavaScript is too much?'
          required
        />
      </div>
    </div>
  </div>
  <div class='field'>
    <label class='label' for='content'>Content</label>
    <div class='control'>
      <textarea
        class='textarea'
        name='message'
        id='content'
        required
      >{{blogsData.blog_body}}</textarea>
    </div>
  </div>
  <div class='field'>
    <div class='buttons'>
      <button type="submit" class='edit-btn'>Save changes</button>
      <a href="/blogs/{{blogsData.id}}" class='button'>Cancel</a>
    </div>
  </div>
</form>
</div>
{{> footer}}
    <script type="module" src='/js/editBlog.js'></script>
            {{#if signedIn}}
    <script type="module" src='/js/logout.js'></script>
     {{/if}}
                <script type="module" src='/js/toggleNavbar.js'></script>